.navbar{
    background-color: #ff8586 !important; /*navbar color, also overall theme color*/
    margin-top: 0px;
    height: 55px;

}
.navbar-brand{
    color: #FFF !important; /*navbar text color*/
}

.navbar .navbar-brand:hover{
  color: #cc5b5c !important; /*navbar text color on hover (darker version of theme color)*/
}

.navbar .navbar-nav li a{
  color: #FFF !important;
}

.navbar .navbar-nav li a:hover{
  color: #cc5b5c !important; /*darker version of the theme color*/
}

.navbar .nav-item .dropdown-menu .dropdown-item{
  color: #ff8586 !important; /*theme color*/
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover{
  color: #ff6c6c !important; /*darker version of theme color but brighter than the usual darker one*/
  background-color: ecf0f1 !important;
}

.jumbotron{
  background-color: #FFF !important;
}

.page-title{
  margin-top: -50px  !important; /* pushes jumbotron content closer to top of screen */
  height: 200;
  margin-bottom: -50px;
  margin-left: auto;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    margin-bottom: 60px;
    margin-left: -10px;
}

.body-nav-fixed{
  padding-top: 60px !important; /* must == navbar height*/
}

body{
  color: #ff8586; /*theme color*/
  padding-left: 10px !important;
}
